@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-custom{
    @apply font-bold bg-lime-400 py-[10px] px-6 rounded-md text-center
}

.btn-custom-2{
    @apply font-bold text-gray-500 py-[10px] px-6 border border-gray-500 rounded-md
}

.input{
    padding: 5px 10px;
    border: 1px solid rgb(180, 180, 180);
    width: 100%;
    outline: none;
    
}
.input:focus{
    border: none;
}
