@tailwind base;
@tailwind components;
@tailwind utilities;

.blur-effect {
    backdrop-filter: blur(10px);
    transition: backdrop-filter 0.3s ease; 
}

.btn-custom{
    @apply font-bold bg-lime-400 py-[10px] px-6 rounded-md text-center
}

.btn-custom-2{
    @apply font-bold text-gray-500 py-[10px] px-6 border border-gray-500 rounded-md
}

.input{
    padding: 5px 10px;
    border: 1px solid rgb(180, 180, 180);
    width: 100%;
    outline: none;
    
}
.input:focus{
    border: none;
}
.history-item{
    @apply border rounded-md p-6 my-3 shadow-sm; 

    h2{
        @apply font-bold text-xl mb-3 text-black
    }
    p{
        @apply text-gray-500 text-sm
    }
}